.DS_Store
.project
.ropeproject
*.pyc
*.log
*.swp
*~
/data
.~*
common/CACHE
local_settings.py
dump.rdb
src/*
public/*
.sass-cache
static/bower_components
.stversions
apps/contrib/
static_collect
media/
