{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}Course Schedule{% endblock %}

{% block extrahead %}
    <link href="{% static 'bower_components/fullcalendar/dist/fullcalendar.css' %}" rel="stylesheet">
    <script src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'bower_components/fullcalendar/dist/fullcalendar.min.js' %}"></script>

    <script>
    $(document).ready(function() {

        // page is now ready, initialize the calendar...

        $('#calendar').fullCalendar({
            // put your options and callbacks here
            weekends: false,
            defaultView: 'agendaWeek',
            minTime: "08:00:00",
            maxTime: "18:00:00",
            events: "/scheduler/api",
            header: {
                left:   '',
                center: '',
                right:  ''
            },
            columnFormat: {
                month: 'ddd',    // Mon
                week: 'ddd', // Mon 9/7
                day: 'dddd'      // Monday
            }
        });

    });
    </script>
{% endblock extrahead %}


{% block content %}

<div class="row">
    <div class="col-sm-12">
        <h1>Schedule Builder</h1>
        <div class="well">
            You've added the courses below to your schedule.<br />
            <b>This is NOT an official schedule and does NOT mean you've actually enrolled in these courses! </b>
        </div>

        {# jquery fullcalendar inserts here #}
        <div id='calendar'></div>

        {% if builder_offerings %}
        {# TODO - move style #}
        <style type="text/css">
            .badge a {
                color:white;
            }
        </style>

        <ul class="list-group" style="margin-top: 40px;">
            {% for b in builder_offerings %}
            <li class="list-group-item">
                <span class="badge">
                    <a href="{% url 'remove_course_from_schedule' b.id %}">X</a>
                </span>
                <strong>
                    <a href="{% url 'offering_detail' b.offering.course_sec_id %}">
                    {{b.offering.course_sec_id}}: {{b.offering}}</a></strong> <br>
                    Room: {{b.offering.location}},

                    {% for day in b.offering.days_of_week.all %}
                        {{day}}s at {% if not forloop.last %},{% endif %}
                        {{b.offering.start_time}},
                        for {{b.offering.duration}} hours
                    {% endfor %}
                </strong>
            </li>
            {% endfor %}

        </ul>
        {% else %}
            <p>You haven't added any classes to your schedule yet.
            To build your schedule, click "Add to Schedule" button
            while surfing the course catalog.</p>
        {% endif %}

    </div>
</div>
{% endblock %}
