{% load static from staticfiles %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

        <title>{% block page_title %}CCA Intranet - {% endblock page_title %}</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'styles/css/app.css' %}" rel="stylesheet">
        <link href="{% static 'styles/css/bootstrap_theme.css' %}" rel="stylesheet">

        <script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>

        <link type="text/css"
            href="{% static 'bower_components/jquery-ui/themes/eggplant/jquery-ui.css' %}" rel="Stylesheet" />

        <script type="text/javascript"
            src="{% static 'bower_components/jquery-ui/jquery-ui.min.js' %}"></script>

        <script src="{% static 'bower_components/jquery-ui/ui/datepicker.js' %}"></script>
        <script src="{% static 'bower_components/modernizr/modernizr.js' %}"></script>
        <script src="{% static 'bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js' %}"></script>

        {% block extrahead %}{% endblock extrahead %}

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body role="document">

        {% include "navigation.html" %}

        <div class="container theme-showcase" role="main">

            {% if messages %}
                <div class="row">
                  <div class="col-xs-12">
                      {% for message in messages %}
                        <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                            <strong>{{ message }}</strong>
                        </div>
                      {% endfor %}
                  </div>
                </div>
            {% endif %}

            {% block app_header %}{% endblock app_header %}

            <div class="row">
                {# Pages can be rendered with or without left nav by extending either "pane-one" or "page-two" #}
                {% block content %}  {% endblock content %}

            </div>

        </div> <!-- /container -->

    </body>
</html>
