{% extends "base.html" %}
{% load static from staticfiles %}

{% block page_title %}{{ block.super }}Dashboard{% endblock page_title %}

{% block content %}

	<div class="page-header">
		<h3>Welcome to Your CCA Dashboard</h3>
	</div>

	<div class="row">

		<div class="col-sm-4">
			<ul class="list-group">
				<li class="list-group-item active">ETS News</li>
			    {% for story in intranews %}
			    	<li class="list-group-item"><a href="{% url 'news_detail' story.slug %}">{{story.title}}</a></li>
			    {% endfor %}
		    </ul>
		</div>

		<div class="col-sm-4">
			<ul class="list-group">
				<li class="list-group-item active">NYT Stories</li>
				{% for story in nyt_stories %}
					<li  class="list-group-item"><a href="{{story.url}}">{{story.title}}</a></li>
				{% endfor %}
		    </ul>
		</div>

		<div class="col-sm-4">
			<ul class="list-group">
				<li class="list-group-item active">Chimera News</li>
				{% for story in ccanews %}
					<li class="list-group-item"><a href="{{story.url}}">{{story.title}}</a></li>
				{% endfor %}
		    </ul>
		</div>


		<div class="col-sm-4">
			<ul class="list-group">
				<li class="list-group-item active">Library Notifications</li>
			    {% for notif in lib_notifs %}
			    	<li class="list-group-item list-group-item-{{notif.level}}">{{notif.text}}</li>
			    {% endfor %}
		    </ul>
		</div>


		<div class="col-sm-4">
			<ul class="list-group">
				<li class="list-group-item active">Housing Notifications</li>
			    {% for notif in housing_notifs %}
			    	<li class="list-group-item list-group-item-{{notif.level}}">{{notif.text}}</li>
			    {% endfor %}
		    </ul>
		</div>

		<div class="col-sm-4">
			<ul class="list-group">
				<li class="list-group-item active">Financial Aid Notifications</li>
			    {% for notif in finaid_notifs %}
			    	<li class="list-group-item list-group-item-{{notif.level}}">{{notif.text}}</li>
			    {% endfor %}
		    </ul>
		</div>

		<div class="col-sm-4">
			<ul class="list-group">
				<li class="list-group-item active">Help Desk Tickets</li>
			    {% for ticket in tickets %}
			    	<li class="list-group-item"><a href="{% url 'todo-task_detail' ticket.id %}">{{ticket.title}}</a></li>
			    {% endfor %}
		    </ul>
		</div>

	</div>


{% endblock content %}
