{% extends "base.html" %}
{% load static from staticfiles %}

{% block page_title %}{{ block.super }}Landing{% endblock page_title %}

{% block content %}

	<div class="page-header">
		<h3>Welcome to the CCA Intranet</h3>
	</div>



	<div class="row">

		<div class="col-sm-6">
			<p class="text-center"><img src="/static/images/needlepoint.jpg" width="450" /></p>
		</div>

		<div class="col-sm-6">

			<div class="well">
				<p>This site aggregates information and data from dozens of campus sources,
				and is available only to CCA students, faculty and staff.</p>
				<p class="text-center">
					<a class="btn btn-primary btn-lg" href="/accounts/login">Please log in to continue</a>
				</p>
			</div>

		</div>


	</div>






{% endblock content %}
