{% load static from staticfiles %}

<!-- Bootstrap navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="{% static 'images/cca_flushleftthreelineCOLOR.gif' %}" /></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">

        <li><a href="{% url 'people_directory' %}">People</a></li>
        <li><a href="{% url 'offerings_schedule' %}">Courses</a></li>
        <li><a href="{% url 'pages_all' %}">Docs</a></li>
        <li><a href="{% url 'messages_redirect' %}">Messages <span class="badge">{{messages_inbox_count}}</span></a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Todo <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'todo-lists' %}">To-do Lists</a></li>
            <li><a href="{% url 'todo-mine' %}">My Tasks</a></li>
            <li><a href="{% url 'todo-external-add' %}">File User Support Ticket</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
          <ul class="dropdown-menu">
          {% if user.is_authenticated %}
              <li><a href="{% url 'people_profile_detail' user.username %}">Your profile</a></li>
              <li><a href="{% url 'scheduler' %}">ScheduleBuilder</a></li>
              <li><a href="/accounts/logout" target="_self">Log Out</a></li>
          {% else %}
              <li><a href="/accounts/login" target="_self">Log In</a></li>
          {% endif %}
          {% if user.is_staff %}
              <li><a href="{% url 'admin:index' %}" target="_self">Admin</a></li>
          {% endif %}
          </ul>
        </li>

      </ul>
    </div><!--/.nav-collapse -->

  </div>
</div>