{% load static from staticfiles %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

        <title>{% block page_title %}CCA Intranet - {% endblock page_title %}</title>

        <!-- Bootstrap core CSS -->
          <link href="{% static 'styles/css/app.css' %}" rel="stylesheet">
          <link href="{% static 'styles/css/bootstrap_theme.css' %}" rel="stylesheet">

            <script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
            <script src="{% static 'bower_components/modernizr/modernizr.js' %}"></script>
            <script src="{% static 'bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js' %}"></script>

            <script src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
            <script src="{% static 'js/angular/app.js' %}"></script>
            <script src="{% static 'js/angular/books/controllers.js' %}"></script>

        {% block extra_head %}{% endblock %}

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

      <base href="/" />
    </head>

    <body role="document">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CCA Intranet</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

            {% if user.is_authenticated %}
              <li><a>You are: {{user}}</a></li>
            {% endif %}

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
              <ul class="dropdown-menu">
              {% if user.is_authenticated %}
                <li><a href="{% url 'people_profile_detail' user.username %}">Your profile</a></li>
                  <li><a href="/accounts/logout" target="_self">Log Out</a></li>
              {% else %}
                  <li><a href="/accounts/login" target="_self">Log In</a></li>
              {% endif %}
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->

      </div>
    </div>

        <div class="container theme-showcase" role="main">

            {% if messages %}
                <div class="row">
                  <div class="col-xs-12">
                      {% for message in messages %}
                        <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                            <strong>{{ message }}</strong>
                        </div>
                      {% endfor %}
                  </div>
                </div>
            {% endif %}

            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron">
                {% block content %}
                {% endblock content %}
            </div>

        </div> <!-- /container -->

    </body>
</html>
