{% extends "page_sub.html" %}
{% load thumbnail %}
{% load bootstrap %}

{% block title %}Course Offering Contacter{% endblock %}

{% block app_nav %}
    {% include "sidebars/class.html" %}
{% endblock app_nav %}


{% block main %}

	<h2>Contact instructors for:<br />{{offering}} ({{offering.sec_term}})</h2>
	{% if recips.count > 0 %}

		<p>Your message will be sent to instructors:</p>

		<p><strong>
		    {% for r in recips  %}
		        {{r}}{% if not forloop.last %},{% endif %}
		    {% endfor %}
		</strong></p>

		<a href="/messages/compose/{% for r in recips %}{{r.profile.user.username}}{% if not forloop.last %}+{% endif %}{% endfor %}" class="btn btn-success">Contact Instructors</a>

	{% else %}
		<p>There are no instructors currently listed for this course offering.</p>

	{% endif %}


{% endblock main %}