{% extends "page_sub.html" %}
{% load thumbnail %}

{% block title %}Course Offering Details{% endblock %}

{% block app_nav %}
    {% include "sidebars/class.html" %}
{% endblock app_nav %}


{% block main %}

<h2>Schedule: {{offering}} ({{offering.sec_term}})</h2>
<ul>
    <li><strong>Time:</strong>{{ offering.time }}</li>
    <li><strong>Type:</strong> {{ offering.course.get_course_type_display }}</li>
    <li><strong>Section:</strong> {{ offering.sec }}</li>
    <li><strong>Units:</strong> {{ offering.course.units }}</li>
    <li><strong>Fee:</strong> {{ offering.fee|yesno:"Yes,No" }}</li>
    <li><strong>Enrollment Limit:</strong> {{ offering.enroll_lim }}</li>
    <li><strong>Programs:</strong></li>
</ul>

{% endblock main %}
