{% extends "page_sub.html" %}
{% load thumbnail %}

{% block title %}Course Offering Contacter{% endblock %}


{% block app_nav %}
    {% include "sidebars/class.html" %}
{% endblock app_nav %}


{% block main %}

	<h2>Grading and Policies: {{offering}} ({{offering.sec_term}})</h2>

	<h3>Grading</h3>
	{% if offering.grading %}
	    {{offering.grading|linebreaks}}
	{% else %}
	    <p>None specified</p>
	{% endif %}


	<h3>Policies</h3>

	{% if offering.policies %}
	    {{offering.policies|linebreaks}}
	{% else %}
	    <p>None specified</p>
	{% endif %}


	<h3>Restrictions and Prerequisites:</h3>

	{% if offering.restrictions %}{{ offering.restrictions }} {% endif %}  {% if not offering.restrictions %}None {% endif %}</p>


{% endblock main %}