{% extends "page_sub.html" %}

{% load bootstrap %}

{% block title %}Course Schedule{% endblock %}                     {# html <head> title; use Title Case #}


{% block app_nav %}
<form action="" method="post">
    {% csrf_token %}
    <p>
        <label class="control-label">View Another Semester</label>

        <div class="form-group">
        <select name="sem" class="form-control">
        {% for s in semesters  %}
            <option value="{{ s.id }}"
                {% ifequal s.id current_sem.id  %}selected="selected"{% endifequal %}>{{ s.name }}
        {% endfor %}
        </select>
        </div>
        <input type="submit" class="btn btn-primary small" name="changesem" value="Go">
    </p>
</form>

<form action="" method="get" accept-charset="utf-8">
    {% csrf_token %}
    {{ search_form|bootstrap }}
    <input type="submit" value="Search" class="btn btn-primary" />
</form>
{% endblock %}

{% block main %}

<h2>Course Schedule for {{ current_sem }}</h2>


<table id="schedule" class="table" >
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Units</th>
            <th>Type</th>
        </tr>
    </thead>

    {% for course in courses %}
        <tr>
            <td><a href="{% url 'course_detail' course.internal_title %}">{{ course.internal_title }}</a></td>
            <td><a href="{% url 'course_detail' course.internal_title %}">{{ course.long_title }}</a></td>
            <td>{{ course.units }}</td>
            <td>{{ course.type }}</td>
        </tr>
    {% endfor %}

</table>

<ul class="alert">
    <li>Schedule is subject to change. </li>
    <li>Classes will be added/changed prior to the beginning of the semester.</li>
    <li>Classes listed with "var" in the units column can have a variable number of  units. See instructor for details.</li>
    <li>Registration in class does NOT guarantee enrollment.</li>
    <li>* Enrollment limit. Attend first class to verify placement.</li>
</ul>

</div> <!-- END main_content -->
{% endblock main %}