Django==1.7.1
psycopg2

requests
django-countries
django-localflavor
pillow
sorl-thumbnail==11.12.1b
simplejson
django-extensions
django-bootstrap-form
django-widget-tweaks
django-cas-ng
csvImporter
fabric
python3-ldap
pytz
feedparser
django-stronghold

# manual install  for now
# django-postman

git+https://github.com/shacker/django-todo.git
