Django==1.7.1
psycopg2

requests
django-countries
django-localflavor
pillow
# Prob don't need sorl anymore
# sorl-thumbnail==11.12.1b
simplejson
django-extensions
django-bootstrap-form
django-widget-tweaks
django-cas-ng
csvImporter
fabric
python3-ldap
pytz
feedparser
django-stronghold
django-todo
# django-tinymce # version 3
# Only need one of these!
# git+https://github.com/progressive-business-media/django-tinymce4.git
git+http://github.com/progressive-cms/django-tinymce4.git#egg=tinymce
# django-tinymce-filebrowser

git+https://github.com/cca/django-messages.git

# git+https://github.com/tomchristie/django-rest-framework.git
djangorestframework