Django==1.7.1
requests
django-countries
django-localflavor
pillow
sorl-thumbnail==11.12.1b
simplejson
psycopg2
django-extensions
django-bootstrap-form
django-cas-ng
csvImporter
fabric
python-ldap
pytz
