{% extends "base.html" %}
{% load static from staticfiles %}
{% load widget_functions %}

{% block page_title %}{{ block.super }}Dashboard{% endblock page_title %}

{% block extrahead %}
    <script src="{% static '/static/dashboard/js/widgets.js' %}"></script>
{% endblock extrahead %}

{% block content %}

	<div class="page-header">
		<h3>Welcome to Your CCA Dashboard</h3>
	</div>

	<div class="row" id="sortable">
		{% for widget in userwidgets %}
			{# Rendered in dashboard/widget_instance.html #}
			{% render_widget widget user %}
		{% endfor %}
	</div>

    <div class="well">
    	<h3>Unused Widgets</h3>
    	<p>Click to add</p>
    	<ul>
    	{% for w in otherwidgets %}
    		<li><a href="{% url 'widget_add' w.id %}">{{w.title}}</a></li>
    	{% endfor %}
		</ul>
    </div>


{% endblock content %}
