{# Used by the dashboard `render_widget` inclusion tag #}
<div class="col-sm-4">
	<ul class="list-group">

		<li class="list-group-item active">
			{{meta.title}}
		</li>

		{# {{data}} #}
		{% for obj in data.object_list %}
			{# {{obj.notif}} #}
			<li class="list-group-item list-group-item-{{obj.level}}">
				<a href="{{obj.get_absolute_url}}">{{obj.title}}</a>
			</li>
		{% endfor %}
		<li class="list-group-item widget-bottom">
			<a href="{{meta.linkurl}}">More</a>
			...
			<a href="">X</a>
		</li>

    </ul>
</div>

