{# Used by the dashboard `render_widget` inclusion tag #}
{# Receives two objects: "meta" for UserWidget instance and "data" for data #}
<div class="col-sm-4" id="datasorted_{{meta.id}}">
	<ul class="list-group">

		<li class="list-group-item active">
			{{meta.widget.title}}
		</li>

		{# {{data}} #}
		{% for obj in data.object_list %}
			{# {{obj.notif}} #}
			<li class="list-group-item list-group-item-{{obj.level}}">
				{% if obj.get_absolute_url %}
					<a href="{{obj.get_absolute_url}}">{{obj.title}}</a>
				{% else %}
					{{obj.title}}
				{% endif %}
			</li>
		{% endfor %}
		<li class="list-group-item widget-bottom">
			<a href="{{meta.widget.linkurl}}">More</a>
			...
			{% if meta.user_can_delete_widget %}
				<a href="{% url 'widget_remove' meta.id %}">X</a>
			{% endif %}
		</li>

    </ul>
</div>

