
@import "bootstrap";
@import "bootstrap/variables";

.page-header-nomargin {
	margin-top: 0;

	h1 {
		margin-top: 0;
	}
}


.widget-bottom {
	background-color: #beedfc;
	border-top: 1px solid #9a9a9a;
	a {
		color: #1a3f94;
		font-weight: bold;
	}
}

.navbar-brand img {
	height: 100%;
}

